<nav class="navbar navbar-expand-lg fixed-top sticky-top border-bottom" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="./assets/images/pisa.png" alt="Logo" width="90" height="33" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler " type="button" id="navbarSideCollapse" aria-label="Toggle navigation"
            (click)="toggleOffcanvas()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" [class.open]="isOffcanvasOpen">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" (click)="closeNavbar()" routerLink="/"
                        routerLinkActive="active">{{headers[0]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="closeNavbar()" routerLink="nosotros">{{headers[1]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="closeNavbar()" routerLink="productos">{{headers[2]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="closeNavbar()" routerLink="servicios">{{headers[3]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="closeNavbar()" routerLink="contacto">{{headers[4]}}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>




<!-- 
<nav class="navbar navbar-expand-lg fixed-top sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/pisa.png" alt="Logo" width="90" height="35" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbarSupportedContent>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" (click)="closeMenu()" routerLink="/"
                        routerLinkActive="active">{{headers[0]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="closeMenu()"
                        routerLink="nosotros">{{headers[1]}}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  text-white" (click)="closeMenu()" routerLink="productos">
                        {{headers[2]}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white" routerLink="servicios">{{headers[3]}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white" (click)="closeMenu()" routerLink="contacto">
                        {{headers[4]}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->