footer{
    /*display: block;*/
    background: #000;
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.bi-instagram{
    color: #ee2266;
}

div, span{
    text-align: center;
}
