<div class="container my-3">
    <div class="p-5 text-center bg-body-secondary rounded-5">
        <h1 class="text-body-emphasis">Sobre Nosotros</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            {{historiaParrafo1}}
        </p>
    </div>
</div>

<!-- <div class="container my-3">
    <div class="p-5 text-center bg-body-tertiary rounded-5">
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            {{historiaParrafo2}}
        </p>
    </div>
</div> -->

<div class="container my-3">
    <div class="p-5 text-center bg-body-secondary rounded-5">
        <h1 class="text-body-emphasis">Nuestra Misión</h1>
        <p class="lead">
            Ofrecer una gran variedad de productos de alta calidad y garantia en perneria, tornilleria
            y ferreteria en general, junto a un servicio personalozado realizando una minuciosa en cada una de
            las partes del proceso operativo de la empresa centrado en el cliente y logrando satisfacer
            todas sus necesidades.
        </p>
        <h1 class="text-body-emphasis">Nuestra Visión</h1>
        <p class="lead">
            Seguir liderando el mercado de perneria, tornilleria y ferreteria en general brindando las mejores
            opciones y productos, según los requerimientos y exigencias de los diferentes sectores de la industria
            peruana.
        </p>
    </div>
</div>



<!-- <div class="container-sm">
    
    <h3>Sobre Nosotros</h3>
    <div class="card card-body rounded-3">
        <p class="blockquote">{{historiaParrafo1}}</p>
        <p class="blockquote">{{historiaParrafo2}}</p>
        <p class="blockquote">{{historiaParrafo3}}</p>
    </div>
</div> -->