/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
.card-footer {
    background-color: white;
    max-height: 30rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
}


a:link, a:visited, a:active {
    text-decoration:none;
}

h2 {
    font-size: 48px;
    font-family: 'Righteous';

}

p{
    font-size: 18px;
}
