.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section .heading {
    font-size: 30px;
    font-weight: 700;
}
.sec-services {
    background: rgba(0, 0, 0, 0.05);
}
.service {
    padding: 40px;
    margin-bottom: 25px;
    border-radius: 4px;
    background: #fff;
}

.service [class^="bi-"] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    font-size: 50px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.service [class^="bi-"]:before {
    color: #306EE8;
    z-index: 2;
    position: relative;
}

.service [class^="bi-"]:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(108, 117, 125, 0.05);
}

.service h3, .service .h3 {
    color: #000;
    font-size: 18px;
}







