/* You can add global styles to this file, and also import other style files */
/* Eliminar el subrayado de los enlaces (CSS) */

/* Eliminar el subrayado de los enlaces (CSS) */
a:link, a:visited, a:active {
    text-decoration:none;
}
body{
    overflow-x: hidden; /* Prevent scroll on narrow devices */
} 